/**
 * @name ServerlistAtBottom
 * @author Discord Addons
 * @version 1.0.3
 * @description Moves the serverlist at the bottom, like Guilded. Customization available in the theme file!
 * @website https://discord-addons.github.io/main
 * @source https://github.com/discord-addons/discord-addons/blob/master/download-themes-here/ServerlistAtBottom
 * @invite g9heA3p6WW
*/

@import url(https://discord-addons.github.io/discord-addons/xcores/themes/SAB_Core.css);

:root {
    /* Custom Settings */
    --serverSize: 40px; /* Size of the ServerIcons and ServerFolders - Theme default: 40px - Discord default: 48px */
    --serverSpacing: 10px; /* Spacing between servers and folders - Default: 10px */

    /* Version */
    --version002_slab: none; /* Do not change plz */
}
