/**
 * @name CompactChannels
 * @author Discord Addons
 * @version 1.0.5
 * @description Compact channellist and memberlist — Customizable in the theme file (or use Settings if you have the ThemeSettings plugin)
 * @website https://discord-addons.github.io/main
 * @source https://github.com/discord-addons/discord-addons/blob/master/download-themes-here/CompactChannels
 * @invite g9heA3p6WW
*/

@import url(https://discord-addons.github.io/discord-addons/xcores/themes/CC_Core.css);

/* ⬇⬇⬇⬇⬇⬇⬇⬇ REMOVE/DISABLE THIS IMPORT LINK IF YOU DON'T WANT FIXED BUTTONS POSITIONS ⬇⬇⬇⬇⬇⬇⬇⬇ */
@import url(https://discord-addons.github.io/discord-addons/xcores/tools/CC_BtnPositionFix.css);
/* ⬆⬆⬆⬆⬆⬆⬆⬆  ⬆ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆  ⬆⬆⬆⬆⬆⬆⬆⬆ */

:root {
/*  Channels                                                                                                                          */
    --cSize         :   190px   ;   /* Channels list size (in px, em, etc…)                            Default: 190px                 */
    --cSizeOnHover  :   240px   ;   /* Channels list size on hover (in px, em, etc…)                   Default: 240px                 */

/*  Memberlist                                                                                                                        */
    --mSize         :   240px   ;   /* Memberlist size (in px, em, etc…)                               Default: 60px  Disable: 240px  */
    --mSizeOnHover  :   240px   ;   /* Memberlist size on hover (in px, em, etc…)                      Default: 240px Disable: 240px  */

/*  Transitions                                                                                                                       */
    --time          :   200ms   ;   /* Transition time (in s or ms)                                    Default: 200ms                 */
    --delayIn       :   100ms   ;   /* Transition delay before resizing by --xSizeOnHover (in s or ms) Default: 100ms                 */
    --delayOut      :   300ms   ;   /* Transition delay before resizing by --xSize (in s or ms)        Default: 300ms                 */

    
/*  Update                                                                                                                            */
    --version004_cc :   none    ;   /* Do not change pliz                                              Default: none                  */
}
