/**
 * @name CustomFont
 * @author Discord Addons
 * @version 1.0.4
 * @description To change font, change the --customFont (and --codeBlocksCustomFont for code blocks) in the theme file, or if you have the ThemeSettings plugin, click on the Settings button. You can remember your fonts by adding your list at --rememberNormalFonts and --rememberCodeBlockFonts.
 * @website https://discord-addons.github.io/main
 * @source https://github.com/discord-addons/discord-addons/blob/master/download-themes-here/CustomFont
 * @invite g9heA3p6WW
*/

@import url(https://discord-addons.github.io/discord-addons/xcores/themes/CF_Core.css);

:root { /* Choose your fonts that will be used for Discord just here. Separate each font with a comma. The first one will be used first. */
    --customFont: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    --codeBlocksCustomFont: Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace;
}
/* Remember your fonts
This space allows you to directly remind your fonts for later, or in case you forget any font name.

Normal Fonts: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
CodeBlock Fonts: Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace;
*/
