/**
 * @name TextareaMaxHeightModifier
 * @author Discord Addons
 * @version 1.0.2
 * @description Allows you to modifiy the max height for the textarea. Modify the MaxHeight in the theme file.
 * @website https://discord-addons.github.io/main
 * @source https://github.com/discord-addons/discord-addons/blob/master/download-themes-here/TextAreaMaxHeightModifier
 * @invite g9heA3p6WW
*/

@import url(https://discord-addons.github.io/discord-addons/xcores/themes/TMHM_Core.css);

:root {
    /* Settings */
    --maxHeight: 500px; /* Max height of the textarea here - Theme default: 500px */

    /* Version */
    --version001_tamhm: none; /* Please do not modifiy this */
}
