/**
 * @name ContextMenusOldStyle
 * @author Discord Addons
 * @version 1.0.1
 * @description ContextMenus Old Style is made for people who don't like the new style for ContextMenus. This will not break any plugin like the old version of Discord, only some colors will be modified.
 * @website https://discord-addons.github.io/main
 * @source https://github.com/discord-addons/discord-addons/blob/master/download-themes-here/ContextMenusOldStyle
 * @invite g9heA3p6WW
*/

@import url(https://discord-addons.github.io/discord-addons/xcores/themes/COS_Core.css);

:root {
    --version001_cmos: none;
}
